header{
    background-color: rgba(253, 196, 248, 0.945)
}

h1{
    display: inline;
}

#loja{
    width: 250px;
}

nav{
    display:inline-block;
}

nav li{
    display: inline;
    margin: 10px;
}

nav a{
    text-transform: uppercase;
    color: rgb(152, 69, 163);
}