header{
    background-color: rgba(253, 196, 248, 0.945);
    padding: 20px 0;
    
}

.caixa-nav{
    position:relative;
    width: 940px;
    margin:0 auto;

}

h1{
    display: inline;
}

#loja{
    width: 250px;
}

nav{
    display:inline-block;
    position:absolute;
    right: 30px;
    top:110px;
}

nav li{
    display: inline;
    margin: 10px;
}

nav a{
    text-transform: uppercase;
    color: rgb(152, 69, 163);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

main {
    background-color: rgb(252, 105, 105);
}

.produtos{
    width:712px;
    margin:0 auto;
    padding:50p;
}

.produtos li{
    display: inline-block;
    text-align: center;
}

.item{
    width: 350px;
    height: 260px;
}