body {
    background: rgb(226, 161, 186);
}

h1 {
    text-align: center;
    background: rgb(221, 6, 6);
}

p {
    text-align: center;
    background: rgb(226, 4, 15);
}

strong {
    color:rgb(29, 243, 232);
}