body {
    background: rgb(226, 161, 186);
}

#loja {
    width:100%;
    height:500px;
}

h1 {
    text-align: center;
    background: rgb(221, 6, 6);
}

p {
    text-align: center;
    background: rgb(226, 4, 15);
}

strong {
    color:rgb(29, 243, 232);
} 
#especial{
    font-size: 20pt;
}

.itens{
    font-style: italic;
}
h2 {
    text-align: center;
}
.beneficios{
 background-color: rgb(105, 55, 82);   
}
ul {
    display: inline-block;
    vertical-align: top;
    margin-right:15% ;
}
#moda{
    width: 50%;
}